{% extends 'blog/base.html' %}
{% block content %}
    <p>{{ post.datetime }}</p>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>
    {% load disqus_tags %}
    {% disqus_dev %}
    {% disqus_show_comments %}
    </p>
{% endblock %}